.sidebar:not(.active)~.content {
    margin-left: 0;
    width: 100%;
}

#koleksiBuku input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 14px;
}

.btnTambahBuku {
    margin-left: 14px;
    border-radius: 7px;
}

#tableBuku tbody td:nth-child(2) {
    min-width: 100px;
    text-overflow: ellipsis;
    white-space: wrap;
    display: flex;
    gap: 14px;
}

#tableBuku tbody td:nth-child(2) span {
    font-weight: 700;    
}


#koleksiBuku button {
    background-color: #AC86BB;
    color: #f4f4f4;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: 700;
}

#koleksiBuku button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#koleksiBuku button:hover {
    background-color: #AC86DD;
}

#tableBuku{
    margin-top: 21px;
}

/* Overlay gelap saat form tampil */
.overlayTambahBuku {
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    overflow-y: auto;
    margin-left: 200px;
    width: calc(100% - 200px);
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Container form tambah buku */
.contentTambahBuku {
    background-color: transparent;
    width: 80%;
    border-radius: 8px;
    position: relative;
    z-index: 1001;
}

#koleksiBuku .close-button {
    position: absolute;
    padding: 0;
    top: 17px;
    right: 17px;
    background: #ff4081;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.modal-sinopsis-overlay {
    position: fixed;
    top: 56px;
    /* agar tidak menutupi navbar */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1100;
}

.modal-sinopsis-content {
    background-color: white;
    padding: 20px 24px;
    border-radius: 8px;
    max-width: 480px;
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    max-height: 70vh;
    overflow-y: auto;
    color: #333;
}

