/* components/Table.css */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.custom-table th {
    background-color: #AC86BB;
    color: white;
    padding: 14px;
    text-align: left;
    border: 1px solid #ddd;
    font-weight: 600;
}

.custom-table td {
    padding: 7px 10px;
    border: 1px solid #ddd;
    text-align: left;
}
