.sidebar:not(.active)~.content {
    margin-left: 0;
    width: 100%;
}

#koleksiBukuUser {
    overflow: hidden;
}

#koleksiBukuUser input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 14px;
}

#tableBukuUser {
    margin-top: 14px;
    overflow: auto;
}

#tableBukuUser tbody td:nth-child(2) {
    min-width: 100px;
    text-overflow: ellipsis;
    white-space: wrap;
    display: flex;
    gap: 7px;
}

#tableBukuUser tbody td:nth-child(2) span {
    font-weight: 700;    
}

#tableBukuUser thead th:nth-child(2),
#tableBukuUser tbody td:nth-child(1),
#tableBukuUser tbody td:nth-child(4),
#tableBukuUser tbody td:nth-child(5),
#tableBukuUser tbody td:nth-child(6),
#tableBukuUser tbody td:nth-child(7),
#tableBukuUser tbody td:nth-child(8),
#tableBukuUser tbody td:nth-child(9),
#tableBukuUser tbody td:nth-child(10),
#tableBukuUser tbody td:nth-child(12) {
    text-align: center;
}

#tableBukuUser img {
    float: left;
    height: 100px;
    object-fit: cover;  
}

.modal-sinopsis-overlay {
    position: fixed;
    top: 56px;
    /* agar tidak menutupi navbar */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 1100;
}

.modal-sinopsis-content {
    background-color: white;
    padding: 20px 24px;
    border-radius: 8px;
    max-width: 480px;
    width: 100%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    max-height: 70vh;
    overflow-y: auto;
    color: #333;
}